.section.col-xs-12
  .customer-journey
.col-xs-12
  .section.col-xs-4
    .h3 IPSUM METRIC
    {{ipsumMetric.total}}
  .section.col-xs-4
    .h3 BLOG VISITS
    .col-xs-12.row
      .col-xs-8
        {{blogVisits}}
      .col-xs-4
        .bar-small
    .goal-bar
  .section.col-xs-4
    .h3 HP VISITS
    .col-xs-12.row
      .col-xs-8
        {{ipsum-metric}}
      .col-xs-4
        .bar-small
  .section.col-xs-4
    .h3 INFINARIO VALUATION
    {{infinarionValuation.total}}
    .goal-bar
